In [7]:
import numpy as pd
import pandas as pd 
from sklearn import  tree

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [8]:
df.isnull().sum()

Deneyim Yili               0
SuanCalisiyor?             0
Eski Calistigi Firmalar    0
Egitim Seviyesi            0
Top10 Universite?          0
StajBizdeYaptimi?          0
IseAlindi                  0
dtype: int64

### sk learn kütüphanesinin düzgün çalışması için sayısal olmayan veriler sayısal yapmalıyız örn : Y = 1

In [9]:
düzeltme_mapping = {"Y":1, "N":0}      

df["SuanCalisiyor?"] = df["SuanCalisiyor?"].map(düzeltme_mapping)
df["Top10 Universite?"] = df["Top10 Universite?"].map(düzeltme_mapping)
df["StajBizdeYaptimi?"] = df["StajBizdeYaptimi?"].map(düzeltme_mapping)
df["IseAlindi"] = df["IseAlindi"].map(düzeltme_mapping)

düzeltme_mapping_egitim = {"BS":0, "MS":1, "PhD":2}

df["Egitim Seviyesi"] = df["Egitim Seviyesi"].map(düzeltme_mapping_egitim)

In [10]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [11]:
y = df["IseAlindi"]
x = df.drop(["IseAlindi"], axis = 1)

In [14]:
cls = tree.DecisionTreeClassifier()
cls = cls.fit(x,y)
print(cls.predict([[5,1,3,0,0,0]]))

[1]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [15]:
print(cls.predict([[2,0,7,0,1,0]]))

[0]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(